body {
    padding-left: 21px;
    padding-right: 16px;
}

.checkout {
    width: 377px;
    margin: 0 auto;
}

.checkout-box {
    margin: 33px 0;
    flex-shrink: 0;
    width: 377px;
    height: 201px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.finish-checkout {
    display: flex;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    background-color: #50D074;
    margin: 0 auto;
    cursor: pointer;
    
    font: 'Roboto';
    color: #fff;
    font-size: 22px;
    line-height: 25.78px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 1.8%;
}

.cancel {
    width: 377px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    font: 'Roboto';
    color: #777;
    font-size: 20px;
    line-height: 23.5px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 1.8%;
}